:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --second-color: #202b3c;
  --main-color: #0b121e;
  --blue-color: #0294fe;
  --grey-color: #98a0ae;
}

body {
  background-color: var(--main-color);
  color: var(--grey-color);
}
